@import "tailwindcss";

@font-face {
  font-family: "Britanica";
  src: url("./assets/fonts/britanica-expanded-heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-britanica {
  font-family: "Britanica", sans-serif;
}

@font-face {
  font-family: "Marlin";
  src: url("./assets/fonts/marlin-sans-sq-regular.otf") format("truetype");
  font-weight: normal;
}

* {
  font-family: "Marlin";
}

body {
  margin: 0;
}

:root {
  --color1: #060318;
  --color2: #6329d3; /* purple */
  --color3: #1195f0; /* light blue */
}

button {
  cursor: pointer;
}

/* all slides */
.swiper-slide .card {
  transform: scale(0.85);
  transition: all 0.5s ease;
}

/* left & right near */
.swiper-slide-prev .card,
.swiper-slide-next .card {
  transform: scale(0.85);
}

/* center */
.swiper-slide-active .card {
  transform: scale(1);
  z-index: 10;
}

/* ------------------------- Moving hand ------------------------ */
.hand {
  animation: float 6s ease-in-out infinite;
  transform-style: preserve-3d;
  will-change: transform;
}

@keyframes float {
  0%,
  100% {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) translateY(0px);
  }

  50% {
    transform: perspective(1000px) rotateX(10deg) rotateY(20deg)
      translateY(-25px);
  }
}
