@import "tailwindcss";

@font-face {
  font-family: "Britanica";
  src: url("./assets/fonts/britanica-expanded-heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-britanica {
  font-family: "Britanica", sans-serif;
}

@font-face {
  font-family: "Marlin";
  src: url("./assets/fonts/marlin-sans-sq-regular.otf") format("truetype");
  font-weight: normal;
}

* {
  font-family: "Marlin";
}

body {
  margin: 0;
}

:root {
  --color1: #060318;
  --color2: #6329d3; /* purple */
  --color3: #1195f0; /* light blue */
}

button {
  cursor: pointer;
}

/* all slides */
.swiper-slide .card {
  transform: scale(0.85);
  transition: all 0.5s ease;
}

/* left & right near */
.swiper-slide-prev .card,
.swiper-slide-next .card {
  transform: scale(0.85);
}

/* center */
.swiper-slide-active .card {
  transform: scale(1);
  z-index: 10;
}
